.container {
  position: relative;
  cursor: move;
  user-select: none;
  transition:
    height 450ms cubic-bezier(0.23, 1, 0.32, 1) 0ms,
    width 450ms cubic-bezier(0.23, 1, 0.32, 1) 0ms;
}

.container:active {
  cursor: grabbing;
}

.panAndZoom {
  position: absolute;
  width: 100%;
  height: 100%;
}
